<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="/">Steakhouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mr-4 mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;  Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/menu">
          <i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Menu
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/shopping-cart">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp;  Shopping Cart
          <span class="badge"><%= (typeof session.cart === 'undefined' || !session.cart)?0:session.cart.totalQty; %></span>
        </a>
      </li>
      <% if(!login) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">
            <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">
            <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">
            <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp; Contact
          </a>
        </li>
      <% } else if(login && !user.isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/account">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Account
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/my-orders">
            <i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;  Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/currentorder">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>&nbsp; Current Order
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/myfavorites">
            <i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Favorites
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout
          </a>
        </li>
      <% } else{  %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">
            <i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp; Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
            <i class="fa fa-product-hunt" aria-hidden="true"></i>&nbsp; Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
