/* red #b4342b black #0c0d0e brown #642120
purple #b797a5 grey #2f292b dark purple #776b84
dark green #776b84 light green #71863e
darker green #222d27 dark grey #323847 bluish #5b9bd1*/
#parallax-image{
  background-image: url(/images/beetroot.jpg);
  height: 100vh;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-container iframe{
  left:0;
  top:0;
  height:80%;
  width:100%;
  position:absolute;
}

/* Shopping cart */
.thumbnail img{
  max-height: 150px;
}

.thumbnail .description{
  color: #7f7f7f;
}

.price{
  font-weight: bold;
  font-size: 16px;
}
