body{
  margin: 0;
  padding: 0;
}

.nav-link{
  color: #FE4066;
}

.navbar-brand{
  color: #FE4066;
  font-family: 'Cookie', cursive;
  /* font-size: 40px; */
}

.form-group label{
  font-family: 'Noto Sans JP', sans-serif;
}

h1{
  font-family: 'Merriweather', serif;
}

.login, .register, .update{
  background: #FE4066;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

p{
  font-family: 'Merriweather', serif;
}

#parallax-image{
  background-image: url(/images/beetroot.jpg);
  height: 100vh;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-container iframe{
  left:0;
  top:0;
  height:80%;
  width:100%;
  position:absolute;
}

/* Shopping cart */
.thumbnail img{
  max-height: 150px;
}

.thumbnail .description{
  color: #7f7f7f;
}

.price{
  font-weight: bold;
  font-size: 16px;
}
