<div class="container text-center w-50">
  <div class="form-check">
      <input class="form-check-input" type="radio" name="" id="" value="option1" checked>
      <label class="form-check-label" for="">
        Order confirmed
      </label>
      <p>7:00 pm</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="" id="" value="option2">
    <label class="form-check-label" for="">
      Order is Ready
    </label>
    <p>7:30 pm</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="" id="" value="option3">
    <label class="form-check-label" for="">
      Out for delivery
    </label>
    <p>7:40 pm</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="" id="" value="option3">
    <label class="form-check-label" for="">
      Delivered
    </label>
    <p>7:50 pm</p>
  </div>

  <button type="button" class="btn btn-primary pl-4 pr-4" name="button">OK</button>
</div>
