<h3>Track delivery status</h3>
<div class="row">
  <div class="col">
    <img class="track-delivery" src="/images/order-placed.jpg" alt="">
  </div>
  <div class="col">
    <span style="font-size: 30px; color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
  </div>
  <div class="col">
    Order Placed
  </div>
</div>
<div class="" style="border-left: 1px solid black; height: 20px;">
</div>
<div class="row">
  <div class="col">
    <img class="track-delivery" src="/images/order-confirmation.png" alt="">
  </div>
  <div class="col">
    <span style="font-size: 30px; color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
  </div>
  <div class="col">
    Order Confirmation
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="track-delivery" src="/images/order-preparation.png" alt="">
  </div>
  <div class="col">
    <span style="font-size: 30px; color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
  </div>
  <div class="col">
    Preparation
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="track-delivery" src="/images/out-of-delivery.png" alt="">
  </div>
  <div class="col">
    <span style="font-size: 30px; color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
  </div>
  <div class="col">
    Out of delivery
  </div>
</div>
<div class="row">
  <div class="col">
    &#128516;
  </div>
  <div class="col">
    <span style="font-size: 30px; color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
  </div>
  <div class="col">
    Complete
  </div>
</div>
