<div class="row">
  <div class="col">
    <form action="/user/forgot-password" method="post">
      <legend>Forgot Password</legend>
      <%- include ('../partials/messages'); %>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Reset Password
      </button>
    </form>
  </div>
</div>
