<div class="row">
  <div class="col">
    <h6><i class="fa fa-map-marker pr-2" aria-hidden="true"></i>Address</h6>
    <p>Along with World War I, World War II was one of the great
      watersheds of 20th-century geopolitical history.</p>
    <h6><i class="fa fa-chrome pr-2" aria-hidden="true"></i>Official Website</h6>
    <p><a href="#">www.steakhouse.com</a></p>
    <h6><i class="fa fa-envelope pr-2" aria-hidden="true"></i>Official Mail Id</h6>
    <p>steakhouse1252@gmail.com</p>
    <h6><i class="fa fa-phone pr-2" aria-hidden="true"></i>Contact Number</h6>
    <p>022-122-1223/023-122-1212</p>
  </div>
  <div class="col col-sm-12">
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
