<%- include ('../partials/messages'); %>
<div class="home">
    <img class="img-fluid" src='/images/homepage/wallpaper.jpg'>
    <h3 class="home-title">Online Food Ordering</h3>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    <a class="btn btn-info badge-pill home-btn" href="/shop/menu">Our Menu</a>
    <div class='wave'></div>
</div>

<div class="container">
  <h3 class="mt-5 text-center font-weight-bold">Our Top Rated Dishes</h3>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
  <div class="row">
    <div class="col top-rated-dishes">
      <img src="/images/homepage/dish4.jpg" class="img-fluid" alt="">
      <button type="button" class="btn learn-more-btn" name="button">Learn More</button>
    </div>
    <div class="col top-rated-dishes">
      <img src="/images/homepage/deserts6.jpg" class="img-fluid" alt="">
      <button type="button" class="btn learn-more-btn" name="button">Learn More</button>
    </div>
    <div class="col top-rated-dishes">
      <img src="/images/homepage/dish2.jpg" class="img-fluid" alt="">
      <button type="button" class="btn learn-more-btn" name="button">Learn More</button>
    </div>
  </div>
</div>

<div class="row our-story bg-dark m-5">
  <div class="col-md-5 col-sm-5 col-lg-5 p-0">
    <img src="/images/homepage/dish4.jpg" class="img-fluid" alt="">
  </div>
  <div class="col-md-7 col-sm-7 col-lg-7">
    <h3 class="text-success pt-4">Our Story</h3>
    <p class="pt-3 pr-1" style="color: #ddd;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
  </div>
</div>

<div class="">
  <img src="/images/homepage/deserts6.jpg" class="img-fluid" alt="">
  <img src="/images/homepage/dish3.jpg" class="img-fluid" alt="">
  <img src="/images/homepage/dish4.jpg" class="img-fluid" alt="">
  <img src="/images/homepage/dish5.jpg" class="img-fluid" alt="">
  <img src="/images/homepage/sandwich3.jpg" class="img-fluid" alt="">
  <img src="/images/homepage/deserts6.jpg" class="img-fluid" alt="">
</div>

<%- include ('../partials/footer'); %>
