<div class="container">
  <div class="row">
    <%- include ('../partials/messages'); %>
    <div class="col-sm-12 col-lg-4">
      <header>
        A Premium and Authentic Steakhouse
      </header>
      <button class="btn btn-dark" type="button" name="button">Book A Table</button>
    </div>
    <div class="col-sm-12 col-lg-8 images">
      <img class="steak" src="/images/steak.png" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-12 col-lg-6">
        <img src="/images/beetroot.jpg" width="500px" height="300px" alt="">
    </div>
    <div class="col">
      <p>Along with World War I, World War II was one of the great
        watersheds of 20th-century geopolitical history. It resulted
        in the extension of the Soviet Union’s power to nations of
        eastern Europe, enabled a communist movement to eventually
        achieve power in China, and marked the decisive shift of
        power in the world away from the states of western Europe and
        toward the United States and the Soviet Union.
      </p>
    </div>
  </div>
</div>

<header>
  <h2>Our Menu</h2>
</header>

<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-lg-6">
        <img src="/images/beetroot.jpg" width="200px" height="200px" alt="">
      </div>
    <div class="col">
      <h3>Deserts</h3>
      <p>Along with World War I, World War II was one of the great
        watersheds of 20th-century geopolitical history. It resulted
        in the extension of the Soviet Union’s power to nations of
        eastern Europe.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-lg-6">
      <h3>Milkshakes</h3>
      <p>Along with World War I, World War II was one of the great
        watersheds of 20th-century geopolitical history.
      </p>
    </div>
    <div class="col">
      <img src="/images/smoothies.jpg" width="200px" height="200px" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-lg-6">
        <img src="/images/beetroot.jpg" width="200px" height="200px" alt="">
      </div>
    <div class="col">
      <h3>Deserts</h3>
      <p>Along with World War I, World War II was one of the great
        watersheds of 20th-century geopolitical history. It resulted
        in the extension of the Soviet Union’s power to nations of
        eastern Europe.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-lg-6">
      <h3>Milkshakes</h3>
      <p>Along with World War I, World War II was one of the great
        watersheds of 20th-century geopolitical history.
      </p>
    </div>
    <div class="col">
      <img src="/images/smoothies.jpg" width="200px" height="200px" alt="">
    </div>
  </div>
</div>

<div id="parallax-image">
  <div class="row h-100">
    <div class="col-md-12 align-self-center">
      <h1 class="text-center">Contact Us</h1>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>
